@page "/Account/Login"
@using Tchivs.Abp.AspNetCore.Blazor.Layouts
@layout  MainLayout

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
<Card>
    <CardHeader>
        Login
    </CardHeader>
</Card>
</div>

@code {

}
