@using System.Diagnostics.CodeAnalysis
@using Volo.Abp.Application.Dtos;
@typeparam TKey
@typeparam TItem where TItem :class, IEntityDto<TKey>, new()
@typeparam TCreateInput where TCreateInput:class,new()
@typeparam TUpdateInput where TUpdateInput:class,new()
@attribute [CascadingTypeParameter(nameof(TItem))]
@attribute [CascadingTypeParameter(nameof(TKey))]
@attribute [CascadingTypeParameter(nameof(TCreateInput))]
@attribute [CascadingTypeParameter(nameof(TUpdateInput))]
@inherits AbpBlazorComponent
<div class="@rootCss">
    @if (Model.ItemChangedType == ItemChangedType.Update)
    {
        @UpdateTemplate?.Invoke(Model.GetUpdateInput())
    }
    else
    {
        @CreateTemplate?.Invoke(Model.GetCreateInput())
    }
</div>

<style>
    .tm {
        --bs-row-label-width: @this.Width px;
    }

</style>