@inherits AbpBootstrapBlazorComponent
<button class=@Css id=@Id data-bs-toggle="pill" data-bs-target=@Selector type="button" role="tab" aria-controls="v-pills-profile" aria-selected="@Active">@Name</button>

